<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sverdlik.michael</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>28EE8EA4-6933-4E8E-8414-789A1E8B383C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E46A28B6-A66F-404B-8C3A-C4C9A63B91D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6A576EC9-C05B-4B59-A06B-FED9AB81B79D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23A94193-5343-4AAE-8D69-16D55991EA8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>73AF0E8F-CD7C-4CC2-949E-DB46241FCC0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CCCA1DC-DCA0-434E-A2A5-0192FD8BAF5F</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1EBEED43-CEE9-4FE9-B30A-50815F169532</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>942FFFC4-1657-46C1-87F2-482BB48014DA</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7B0FCBA8-328C-47D0-93FE-724007AE7921</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE905952-EA9C-4579-AB7C-C832499CC41C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>92AC2EFA-9E2B-428F-B522-CE49090797B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>562C71D1-0EE3-40C1-85EC-A95459D0E542</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michael Sverdlik</string>
	<key>description</key>
	<string>List and control Vagrant environments with Alfred2</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VagrantUP</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python vagrantup.py --openenv {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3CCCA1DC-DCA0-434E-A2A5-0192FD8BAF5F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>vagrant</string>
				<key>runningsubtext</key>
				<string>Fetching..</string>
				<key>script</key>
				<string>python vagrantup.py --list {query}</string>
				<key>subtext</key>
				<string>Show Vagrant global status</string>
				<key>title</key>
				<string>Vagrant Status</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>73AF0E8F-CD7C-4CC2-949E-DB46241FCC0D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python vagrantup.py --set {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1EBEED43-CEE9-4FE9-B30A-50815F169532</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python vagrantup.py --setenv {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>942FFFC4-1657-46C1-87F2-482BB48014DA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>:vagrant-id</string>
				<key>script</key>
				<string>python vagrantup.py --get {query}</string>
				<key>subtext</key>
				<string>Actions on Vagrant environment</string>
				<key>title</key>
				<string>Vagrant</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>28EE8EA4-6933-4E8E-8414-789A1E8B383C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python vagrantup.py --execute {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E46A28B6-A66F-404B-8C3A-C4C9A63B91D0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>send_notification</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>7B0FCBA8-328C-47D0-93FE-724007AE7921</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Vagrant</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CE905952-EA9C-4579-AB7C-C832499CC41C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>open_dir</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>92AC2EFA-9E2B-428F-B522-CE49090797B0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>clear; cd {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>562C71D1-0EE3-40C1-85EC-A95459D0E542</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>run_vagrant</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>6A576EC9-C05B-4B59-A06B-FED9AB81B79D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>clear; vagrant {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>23A94193-5343-4AAE-8D69-16D55991EA8B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1EBEED43-CEE9-4FE9-B30A-50815F169532</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>23A94193-5343-4AAE-8D69-16D55991EA8B</key>
		<dict>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>28EE8EA4-6933-4E8E-8414-789A1E8B383C</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>3CCCA1DC-DCA0-434E-A2A5-0192FD8BAF5F</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>562C71D1-0EE3-40C1-85EC-A95459D0E542</key>
		<dict>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>6A576EC9-C05B-4B59-A06B-FED9AB81B79D</key>
		<dict>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>73AF0E8F-CD7C-4CC2-949E-DB46241FCC0D</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>7B0FCBA8-328C-47D0-93FE-724007AE7921</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>92AC2EFA-9E2B-428F-B522-CE49090797B0</key>
		<dict>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>942FFFC4-1657-46C1-87F2-482BB48014DA</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>CE905952-EA9C-4579-AB7C-C832499CC41C</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>E46A28B6-A66F-404B-8C3A-C4C9A63B91D0</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/m1keil/alfred-vagrant-workflow</string>
</dict>
</plist>
