<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sverdlik.michael</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>28EE8EA4-6933-4E8E-8414-789A1E8B383C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>060AECC5-1C73-405E-845E-3A924226C015</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>73AF0E8F-CD7C-4CC2-949E-DB46241FCC0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AFF002F-5B3D-4FFC-9A52-3BD6671A69E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5E1C29D5-1F63-479B-A365-7910436A41BA</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7B0FCBA8-328C-47D0-93FE-724007AE7921</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE905952-EA9C-4579-AB7C-C832499CC41C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michael Sverdlik</string>
	<key>description</key>
	<string>List and control Vagrant environments with Alfred2</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VagrantUP</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>vagrant</string>
				<key>runningsubtext</key>
				<string>Fetching..</string>
				<key>script</key>
				<string>python get-status.py --list {query}</string>
				<key>subtext</key>
				<string>Show Vagrant global status</string>
				<key>title</key>
				<string>Vagrant Status</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>73AF0E8F-CD7C-4CC2-949E-DB46241FCC0D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python get-status.py --set {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>8AFF002F-5B3D-4FFC-9A52-3BD6671A69E1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python get-status.py --setenv {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>5E1C29D5-1F63-479B-A365-7910436A41BA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>:vagrant-id</string>
				<key>script</key>
				<string>python get-status.py --get</string>
				<key>subtext</key>
				<string>Actions on Vagrant environment</string>
				<key>title</key>
				<string>Vagrant</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>28EE8EA4-6933-4E8E-8414-789A1E8B383C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python get-status.py --execute {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>060AECC5-1C73-405E-845E-3A924226C015</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>send_notification</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>7B0FCBA8-328C-47D0-93FE-724007AE7921</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Vagrant</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CE905952-EA9C-4579-AB7C-C832499CC41C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>060AECC5-1C73-405E-845E-3A924226C015</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>28EE8EA4-6933-4E8E-8414-789A1E8B383C</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>5E1C29D5-1F63-479B-A365-7910436A41BA</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>73AF0E8F-CD7C-4CC2-949E-DB46241FCC0D</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>7B0FCBA8-328C-47D0-93FE-724007AE7921</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>8AFF002F-5B3D-4FFC-9A52-3BD6671A69E1</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>CE905952-EA9C-4579-AB7C-C832499CC41C</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/m1keil/alfred-vagrant-workflow</string>
</dict>
</plist>
